{% extends 'base.html.twig' %}

{% block body %}
<div class="col-lg-12 text-center">
    <h1 class="mt-5">Zadanie rekrutacyjne firmy Qpony</h1>
    <p class="lead">Piotr Lewandowski</p>
    <p class="lead">6 kwietnia 2020r</p>
    <ul class="list-unstyled">
        <li>Symfony 4.4</li>
        <li>Bootstrap 4.3.1</li>
        <li>jQuery 3.4.1</li>
    </ul>
</div>
{% endblock %}
